<html ng-app="expressoesRegulares">

<head>
    <title>Titulo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="angular/angular.min.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
</head>

<body ng-controller="expressoesControle" class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="">Recursos de imagem {{variacao}}</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Açoes</div>
                        <a>
                            <button type="button" ng-click="setOriginal(ctrlBtns.original)" ng-class="{'btn-success': ctrlBtns.original}"  class="btn btn-primary">Original</button>
                        </a>
                        <a>
                            <button type="button" ng-click="setGrayscale(ctrlBtns.grayscale)" ng-class="{'btn-success': ctrlBtns.grayscale}"  class="btn btn-primary">Grayscale</button>
                        </a>
                        <a>
                            <button type="button" ng-click="setInvertede(ctrlBtns.invertede)" ng-class="{'btn-success': ctrlBtns.invertede}" class="btn btn-primary">Inverted</button>
                        </a>


                        

                        <a href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            <button type="button" ng-click="setVarinha(ctrlBtns.varinha)" ng-class="{'btn-success': ctrlBtns.varinha}" class="btn btn-primary">Varinha magica</button>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                
                                <a class="nav-link" >
                                    <div class="form-group">
                                        <label for="formControlRange">Percentual de variação</label>
                                        <input type="range" ng-model="pecentual" class="form-control-range" id="formControlRange">{{pecentual}}%
                                    </div>
                                </a>
                                <a class="nav-link" href="layout-sidenav-light.html">
                                    <div class="foo blue" id="hovered-color">mousemove</div>
                                </a>
                                <a class="nav-link" href="layout-static.html">
                                    <div class="foo purple" id="selected-color">click</div>
                                </a>
                            </nav>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>

    </div>
            <div class="form-control center">
                <canvas class="canvas-image" width="1024" height="683" id="canvas"></canvas>
            </div>


    <!-- <script src="color-manipulation.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script> -->
</body>

</html>